html {
	position: relative;
	min-height: 100%;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}

/* Custom page CSS
-------------------------------------------------- */

.searchBox {
	padding: 20px 0px 60px 0px;
}
.padBottom {
	padding-bottom: 50px;
}
.tab-pane {
	border: 1px solid #ddd;
	border-top: none;
	padding-top: 30px;
}
.table {
	margin-bottom: 0;
}