<!--Add Product Tab-->
<div id="addproduct" class="tab-pane">
    <div style="padding-bottom:50px">
        <table style="width:100%">
            <tr>
            <td style="width:50%; vertical-align: top; padding-left:100px;">
                <div style="padding-bottom:20px;">
                    <h3 style="margin-top:0px">Add Product</h3>
                </div>
                <form class="form-horizontal" role="form" ng-submit="addRow()">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Product name</label>
                        <div class="col-md-4">
                            <input id="pName" type="text" class="form-control" name="productname" ng-model="productname" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Cost Price</label>
                        <div class="col-md-4">
                            <input id="cPrice" type="text" class="form-control" name="costperunit" ng-model="costperunit" required only-digits />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Selling Price</label>
                        <div class="col-md-4">
                            <input id="sPrice" type="text" class="form-control" name="sellingprice" ng-model="sellingprice" required only-digits />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Stock</label>
                        <div class="col-md-4">
                            <input id="stock" type="text" class="form-control" name="stock" ng-model="stock" required only-digits />
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="padding-left:110px">
                            <input type="submit" value="Submit" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>
            </td>
            </tr>
        </table>
    </div>
</div>
<!--Add Product Tab End-->