<!--Edit Product Tab-->
<div id="editproduct" class="tab-pane">
    <table style="width:100%">
        <tr>
        <td style="width:100%; vertical-align: top; padding-left:100px;">
            <div style="padding-bottom:20px;">
                <h3 style="margin-top:0px">Edit Product</h3>
            </div>
            <form class="form-horizontal" role="form" ng-submit="updateRow(ID)">
                <div class="form-group">
                    <label class="col-md-2 control-label">Product name</label>
                    <div class="col-md-4">
                        <input id="pName" type="text" class="form-control" name="productname" ng-model="productname" value="{{product.productname}}" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Cost Price</label>
                    <div class="col-md-4">
                        <input id="cPrice" type="text" class="form-control" name="costperunit" ng-model="costperunit" value="{{product.costperunit}}" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Selling Price</label>
                    <div class="col-md-4">
                        <input id="sPrice" type="text" class="form-control" name="sellingprice" ng-model="sellingprice" value="{{product.sellingprice}}" required only-digits />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Stock</label>
                    <div class="col-md-4">
                        <input id="stock" type="text" class="form-control" name="stock" ng-model="stock" value="{{product.stock}}" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <div style="padding-left:110px">
                        <input type="submit" value="Update" class="btn btn-primary"/>
                    </div>
                </div>
            </form>
        </td>
        </tr>
    </table>
</div>
<!--Edit Product Tab End-->