<!--Home Tab Start-->
<div id="home" class="tab-pane fade active in">
    <div class="searchBox">
        <span class="col-md-1" style="font-weight:bold">Search</span>
        <span class="col-md-3">
            <input type="text" class="form-control" ng-model="searchProduct"/>
        </span>
    </div>
    <table style="width:100%">
        <tr>
        <td style="vertical-align: top">
            <table class="table">
                <tr>
                    <th>S. No.</th>
                    <th>Product Name</th>
                    <th>Cost Per Unit</th>
                    <th>Selling Price</th>
                    <th>Stock</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="product in products | filter: searchProduct">
                    <td>{{$index + 1}}</td>
                    <td>{{product.productname}}</td>
                    <td>{{product.costperunit}}</td>
                    <td>{{product.sellingprice}}</td>
                    <td>{{product.stock}}</td>
                    <td>
                        <input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow(product.ID)"/>
                        <input type="button" value="Edit" class="btn btn-primary" ng-click="editRow(product.ID)" value="#editproduct" />
                    </td>
                </tr>
            </table>
        </td>
        </tr>
    </table>
</div>
<!--Home Tab End-->