<!DOCTYPE html>
<html ng-app="sunguard">
<head>
	
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sungaurd First Assignment</title>

	<link rel="stylesheet" href="js/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
	
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/angular/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/angular/angular-route.min.js"></script>
    
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
</head>
<body ng-controller="productController">

<div class="container">
	
    <div class="page-header" style="margin: 0">
        <h1>Technology : HTML5, CSS3, Javascript, Jquery, Angular.js, Bootstrap</h1>
    </div>
        
    <ul role="tablist" class="nav nav-tabs" id="myTabs">
        <li class="active"><a id="home-tab" ng-click="showScreen('home')" href="#home">Home</a></li>
        <li><a id="addprod-tab" ng-click="showScreen('addproduct')" href="#addproduct">Add Product</a></li>
        <li><a id="editprod-tab" ng-click="showScreen('editproduct')" href="#editproduct">Edit Product</a></li>
    </ul>
    
    <!--Tab Content-->
    <div id="myTabContent" class="tab-content">
    	<!--<div ng-view></div>-->
        <ng-include src="templatePath"></ng-include>
    </div>
    
</div>
</body>
</html>